
<html>
	<head>
<title>VOC - Kenniscentrum - Zoekresultaten</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" content="VOC, Vereenigde Oostindische Compagnie, Indonesie">
	<link rel="STYLESHEET" type="text/css" href="http://voc-kenniscentrum.nl/voc-print.css" MEDIA="print">
	<link rel="STYLESHEET" type="text/css" href="http://voc-kenniscentrum.nl/voc.css">
<script LANGUAGE="JavaScript"><!--

function newImage(arg) {
	if (document.images) {
		rslt = new Image();
		rslt.src = arg;
		return rslt;
	}
}

function changeImages() {
	if (document.images && (preloadFlag == true)) {
		for (var i=0; i<changeImages.arguments.length; i+=2) {
			document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
		}
	}
}

var preloadFlag = false;
function preloadImages() {
	if (document.images) {
		star = newImage("http://voc-kenniscentrum.nl/images/star.gif");
		preloadFlag = true;
	}
}

// -->
</script>
	</head>

<body text="#000000" link="#000099" alink="0000cc" vlink="660000" bgcolor="#572b03" background="http://voc-kenniscentrum.nl/images/bg.gif" onLoad="preloadImages();">
<map name="kitlv">
<area alt="Koninklijk Instituut voor Taal-, Land- en Volkenkunde" coords="564,0,680,86" href="http://www.kitlv.nl/">
<area alt="VOC - Kenniscentrum" coords="0,0,564,86" href="http://voc-kenniscentrum.nl/">

</map>
	<div align="center">
		<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<img src="http://voc.ruparo.net/images/bg-corner-lt.gif" width="32" height="32"><br>
				</td>
				<td background="http://voc-kenniscentrum.nl/images/bg-top.gif">
					<img src="http://voc-kenniscentrum.nl/images/spacer.gif" width="650" height="8"><br>
				</td>
				<td>
					<img src="http://voc-kenniscentrum.nl/images/bg-corner-rt.gif" width="32" height="32"><br>
				</td>
			</tr>
			<tr>
				<td background="http://voc-kenniscentrum.nl/images/bg-left.gif" height="341" valign="bottom"><br>
				</td>
				<td background="http://voc-kenniscentrum.nl/images/bg-mid.gif">


					<table width="680" border="0" cellpadding="0" cellspacing="0" bgcolor="#E3DAD0">
				
						<tr>
							<td colspan="2">		
								<a name="top">
								<img src="http://voc-kenniscentrum.nl/images/head-kennis.gif" width="680" height="108" alt="VOC - Kenniscentrum" usemap="#kitlv" border="0"></td>
						</tr>
						<tr>
							<td background="http://voc-kenniscentrum.nl/images/bg-mid.gif" valign="top">

								<a href="http://voc-kenniscentrum.nl/index.html" name="Home" onMouseOver="changeImages('home', 'http://voc-kenniscentrum.nl/images/star.gif'); return true;" onMouseOut="changeImages('home', 'http://voc-kenniscentrum.nl/images/bg-mid.gif'); return true;"><img src="http://voc-kenniscentrum.nl/images/bg-mid.gif" width="24" height="24" border="0" name="home"><img src="http://voc-kenniscentrum.nl/images/nav-home.gif" width="136" height="24" alt="Home" border="0"></a><br>
								<a href="http://voc-kenniscentrum.nl/vocbegin.html" name="Oprichting, organisatie en ondergang van de VOC" class="navimg" onMouseOver="changeImages('vocbegin', 'http://voc-kenniscentrum.nl/images/star.gif'); return true;" onMouseOut="changeImages('vocbegin', 'http://voc-kenniscentrum.nl/images/bg-mid.gif'); return true;"><img src="http://voc-kenniscentrum.nl/images/bg-mid.gif" width="24" height="24" border="0" name="vocbegin"><img src="http://voc-kenniscentrum.nl/images/nav-oprichting.gif" width="136" height="24" alt="Oprichting, organisatie en ondergang van de VOC" border="0"></a><br>
								<a href="http://voc-kenniscentrum.nl/kamers.html" name="Kamers van de VOC" class="navimg" onMouseOver="changeImages('kamers', 'http://voc-kenniscentrum.nl/images/star.gif'); return true;" onMouseOut="changeImages('kamers', 'http://voc-kenniscentrum.nl/images/bg-mid.gif'); return true;"><img src="http://voc-kenniscentrum.nl/images/bg-mid.gif" width="24" height="24" border="0" name="kamers"><img src="http://voc-kenniscentrum.nl/images/nav-kamers.gif" width="136" height="24" alt="Kamers van de VOC" border="0"></a><br>
								<a href="http://voc-kenniscentrum.nl/vocschepen" name="Schepen van de VOC" class="navimg" onMouseOver="changeImages('vocschepen', 'http://voc-kenniscentrum.nl/images/star.gif'); return true;" onMouseOut="changeImages('vocschepen', 'http://voc-kenniscentrum.nl/images/bg-mid.gif'); return true;"><img src="http://voc-kenniscentrum.nl/images/bg-mid.gif" width="24" height="24" border="0" name="vocschepen"><img src="http://voc-kenniscentrum.nl/images/nav-schepen.gif" width="136" height="24" alt="Schepen van de VOC" border="0"></a><br>
								<a href="http://voc-kenniscentrum.nl/vocoverzee.html" name="De VOC Overzee" class="navimg" onMouseOver="changeImages('vocoverzee', 'http://voc-kenniscentrum.nl/images/star.gif'); return true;" onMouseOut="changeImages('vocoverzee', 'http://voc-kenniscentrum.nl/images/bg-mid.gif'); return true;"><img src="http://voc-kenniscentrum.nl/images/bg-mid.gif" width="24" height="24" border="0" name="vocoverzee"><img src="http://voc-kenniscentrum.nl/images/nav-overzee.gif" width="136" height="24" alt="De VOC Overzee" border="0"></a><br>
								<a href="http://voc-kenniscentrum.nl/gewesten.html" name="Gewesten overzee van de VOC" class="navimg" onMouseOver="changeImages('kaapjapan', 'http://voc-kenniscentrum.nl/images/star.gif'); return true;" onMouseOut="changeImages('kaapjapan', 'http://voc-kenniscentrum.nl/images/bg-mid.gif'); return true;"><img src="http://voc-kenniscentrum.nl/images/bg-mid.gif" width="24" height="24" border="0" name="kaapjapan"><img src="http://voc-kenniscentrum.nl/images/nav-gewesten.gif" width="136" height="24" alt="Gewesten overzee van de VOC" border="0"></a><br>
								<a href="http://voc-kenniscentrum.nl/producten.html" name="Belangrijkste handelsproducten" class="navimg" onMouseOver="changeImages('producten', 'http://voc-kenniscentrum.nl/images/star.gif'); return true;" onMouseOut="changeImages('producten', 'http://voc-kenniscentrum.nl/images/bg-mid.gif'); return true;"><img src="http://voc-kenniscentrum.nl/images/bg-mid.gif" width="24" height="24" border="0" name="producten"><img src="http://voc-kenniscentrum.nl/images/nav-producten.gif" width="136" height="24" alt="Belangrijkste handelsproducten" border="0"></a><br>
								<a href="http://voc-kenniscentrum.nl/literatuur1.html" name="Literatuur" class="navimg" onMouseOver="changeImages('literatuur', 'http://voc-kenniscentrum.nl/images/star.gif'); return true;" onMouseOut="changeImages('literatuur', 'http://voc-kenniscentrum.nl/images/bg-mid.gif'); return true;"><img src="http://voc-kenniscentrum.nl/images/bg-mid.gif" width="24" height="24" border="0" name="literatuur"><img src="http://voc-kenniscentrum.nl/images/nav-literatuur.gif" width="136" height="24" alt="Literatuur" border="0"></a><br>
								<a href="http://voc-kenniscentrum.nl/adressen.html" name="Introductie en Adressen" class="navimg" onMouseOver="changeImages('adressen', 'http://voc-kenniscentrum.nl/images/star.gif'); return true;" onMouseOut="changeImages('adressen', 'http://voc-kenniscentrum.nl/images/bg-mid.gif'); return true;"><img src="http://voc-kenniscentrum.nl/images/bg-mid.gif" width="24" height="24" border="0" name="adressen"><img src="http://voc-kenniscentrum.nl/images/nav-adressen.gif" width="136" height="24" alt="Introductie en Adressen" border="0"></a><br>
								<a href="mailto: voc-kenniscentrum@kitlv.nl" name="voc-kenniscentrum@kitlv.nl" class="navimg" onMouseOver="changeImages('mail', 'http://voc-kenniscentrum.nl/images/star.gif'); return true;" onMouseOut="changeImages('mail', 'http://voc-kenniscentrum.nl/images/bg-mid.gif'); return true;"><img src="http://voc-kenniscentrum.nl/images/bg-mid.gif" width="24" height="24" border="0" name="mail"><img src="http://voc-kenniscentrum.nl/images/nav-email.gif" width="136" height="24" alt="voc-kenniscentrum@kitlv.nl" border="0"></a><br>
	
	<FORM ACTION="http://www.iias.nl/cgi-bin/kitlv/voc/ksearch/ksearch.cgi" METHOD="GET" NAME="search">
	<table border="0" cellpadding="0" cellspacing="0"><tr><th width="24"></th><th valign="middle"><INPUT TYPE="text" NAME="terms" style="width:70" size="8"></th><th valign="middle">&nbsp;<INPUT TYPE="submit" VALUE="Go" size="12"></th></tr></table>
	</FORM><img src="images/spacer.gif" width="20" height="120" alt="" border="0" align="left"><small>Huygens ING<br>Den Haag</small>
	
	
								
								<img src="http://voc-kenniscentrum.nl/images/spacer.gif" width="20" height="120" alt="" border="0" align="left"><small>VOC-Kenniscentrum<br>KITLV<br>Postbus 9515<br>2300 RA Leiden<br>Tel: 071-5273298<br>Fax: 071-5272638</small><br>

							
							</td>



							
							
							<td rowspan=2 width="520" background="http://voc-kenniscentrum.nl/images/bg-mid.gif" valign="top">

							<p class="padded">
							<!--cgi: header-->
							</p>
							
							<p class="padded">
							<small>
							<!--cgi: previous--> <!--cgi: navbar--> <!--cgi: next-->
							</small>
							</p>

							<div align="center">
							<img src="http://voc-kenniscentrum.nl/images/star.gif" width="21" height="21" alt="" border="0">
							</div>

								<!--loop: results-->
								<p class="padded">
								<strong><!--item: rank-->. &nbsp; <a href="<!--item: url-->"><!--item: title--></a></strong>
								</p>
								<p class="zoekomschrijving">
								<!--item: description-->
								<br>
								<div class="zoekgegevens">
								<a href="<!--item: url-->"><!--item: display_url--></a><br>
								<!--item: scoreA--> &nbsp; <!--item: scoreB--> &nbsp; <!--item: scoreC-->
								</div>
								</p>
								<div align="center">
							<img src="http://voc-kenniscentrum.nl/images/star.gif" width="21" height="21" alt="" border="0">
							</div>
							
								
								<!--end: results-->
							
					
							
							<p class="padded">
							<small>
							<!--cgi: previous--> <!--cgi: navbar--> <!--cgi: next-->
							</small>
							</p>
							
							
									<p class="padded">
									<a href="#top">Top</a>
								</p>




							</td>


						</tr>
						<tr>
							<td background="http://voc-kenniscentrum.nl/images/bg-mid.gif" valign="bottom">
								<img src="http://voc-kenniscentrum.nl/images/foot-kompas.gif" width="160" height="161"><br>
							</td>

						</tr>

					</table>


				</td>
				<td background="http://voc-kenniscentrum.nl/images/bg-right.gif" height="341"><br>
				</td>
			</tr>
			<tr>
				<td>
					<img src="http://voc-kenniscentrum.nl/images/bg-corner-lb.gif" width="32" height="32"><br>
				</td>
				<td background="http://voc-kenniscentrum.nl/images/bg-bottom.gif"><br>
				</td>
				<td>
					<img src="http://voc-kenniscentrum.nl/images/bg-corner-rb.gif" width="32" height="32"><br>
				</td>
			</tr>
		</table>
		<br>
		<br>
	</div>
</body>
</html>

</body>
</html>
